body {
    font-family: 'Barlow';
}

.bg-transparent {
    opacity: 1;
}

.bg-site {
    background-color: #fffdf1;
}

.text-black {
    color: black;
}

.no-border {
    border: none;
}

.mt-title {
    margin-top: 15rem;
}