body {
    font-family: 'Barlow';
}

.bg-transparent {
    opacity: 1;
}

.bg-site {
    background-color: #fffef6;
}

.text-black {
    color: black;
}

.no-border {
    border: none;
}

.mt-title {
    margin-top: 15rem;
}

.mt-projects {
    margin-top: 10rem;
}

.mt-project-start {
    margin-top: 3rem;
}

.mb-bottom-page {
    margin-bottom: 10rem;
}

.border-wyb {
    border-radius: 20px;
    border-bottom: #2d3436 5px solid;
}

.bg-wyb {
    background-color: #f3f3f3;
}

.border-ff {
    border-radius: 20px;
    border-bottom: #6c82ff 5px solid;
}

.bg-ff {
    background-image: url('images/ff_background.jpeg');
    background-size: cover;
}

.link-ff {
    color: rgb(139, 222, 255);
}

.bg-cc {
    background-image: url('images/cli-chess_background.png');
}

.border-cc {
    border-radius: 20px;
    border-bottom: rgb(255, 251, 0) 5px solid;
}

.border-radius-20px {
    border-radius: 20px;
}

.border-radius-navbar {
    border-radius: 50px;
}

.project-divide-space {
    margin-top: 3rem;
    margin-bottom: 3rem;
}